.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../assets/bg.jpg') top center ;
    background-size: cover;
    background-repeat: no-repeat;
}
.registerForm{
    width: 30vw;
    min-width: 250px;
    padding: 20px;
    background:#29180611;
    color: bisque;
    box-shadow: -20px 20px 20px -20px  pink
}
.LogButton{
    color: #291806;
    margin: 10px;
    width: 10vw;
}